---
import Section from "../../components/Section.astro";
import Heading from "../../components/Heading.astro";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";

import { SiteConfig } from "../../utils/config";

const { title, description } = SiteConfig;

const allPosts = await Astro.glob('./*.md');

---

<Layout head={{ title, description }}>
  <Section><Heading title="Things you might want to learn about." /></Section>
  <Section>
    <div class="flex flex-col justify-center items-center">
    {
			allPosts.map((post: any) => (
				<div class="mb-4 basis-1 last:mb-0">
					<Card post={post} />
				</div>
			))
		}
    </div>
  </Section>
</Layout>
