---
import Section from "../components/Section.astro";
import Heading from "../components/Heading.astro";
import Layout from "../layouts/Layout.astro";

let title = "Page Not Found";
---

<Layout head={{ title }}>
  <Section><Heading {title} /></Section>
</Layout>
