---
import Heading from "../components/Heading.astro";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout head={{ title: "Contact" }}>
  <Section><Heading title="Where you can find us?" /></Section>
</Layout>
