---
import Layout from "../layouts/Layout.astro";

import { SiteConfig } from "../utils/config";

const { title, description } = SiteConfig;
---

<Layout head={{ title, description }}>
  <h1 class="text-center text-4xl font-medium">Astro One</h1>
</Layout>
