---
import ThemeToggle from './ThemeToggle';
---

<footer class="bg-background shadow mt-8">
  <div class="container mx-auto px-6 py-3 flex justify-between items-center">
    <div class="text-foreground">
      &copy; 2023 Astro Blog. All rights reserved.
    </div>
    <ThemeToggle client:load />
  </div>
</footer>

