---
import Section from "./Section.astro";
---

<Section>
  <header class="flex justify-between">
    <div class="text-xl font-bold">
      <a href="/">
        <span class="mr-1 text-slate-900">Astro</span><span class="text-rose-600">ONE</span></a
      >
    </div>
    <div class="flex items-center">
      <nav>
        <ul class="hidden flex-row sm:flex gap-x-3">
            <li><a href="/" class="hover:text-rose-700">Blog</a></li>
            <li><a href="/tags" class="hover:text-rose-700">tags</a></li>
        </ul>
      </nav>
    </div>
  </header>
</Section>
