---
import { navigation } from "../utils/config";
import Section from "./Section.astro";
---

<Section>
  <header class="flex justify-between">
    <div class="text-xl font-bold">
      <a href="/">
        <span class="mr-1 text-slate-900">Astro</span><span class="text-rose-600">ONE</span></a
      >
    </div>
    <div class="flex items-center">
      <nav>
        <ul class="hidden flex-row sm:flex gap-x-3">
          {
            navigation.map((item) => (
              <li>
                <a href={item.path}>{item.title}</a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </header>
</Section>
