---
import Section from "./Section.astro";

---

<Section>
  <br />
  <h1 class="pb-2 pt-6 text-4xl font-bold text-center">Astro One</h1>
  <div class="text-sm">
    <p class="py-2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur vero esse non molestias eos
      excepturi, inventore atque cupiditate. Sed voluptatem quas omnis culpa, et odit.Lorem ipsum
      dolor sit amet <span class="font-black text-lime-600">React</span> adipisicing elit. Tenetur
      vero esse non molestias eos excepturi, inventore atque cupiditate. Sed voluptatem quas omnis culpa,
      et odit.Lorem ipsum dolor sit amet consectetur <span class="font-black text-lime-600"
        >React</span
      > elit. Tenetur vero esse non molestias eos <span class="font-black text-lime-600"
        >React</span
      >, inventore atque cupiditate. Sed voluptatem quas omnis culpa, et odit.
    </p>
    <p class="py-2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur vero esse non molestias eos
      excepturi, inventore atque cupiditate. Sed voluptatem quas omnis culpa, et odit.Lorem ipsum
      dolor sit amet <span class="font-black text-lime-600">React</span> adipisicing elit. Tenetur
      vero esse non molestias eos excepturi, inventore atque cupiditate. Sed voluptatem quas omnis culpa,
      et odit.
    </p>
    <p class="py-2">
      Tenetur vero esse non molestias eos excepturi, inventore atque cupiditate. Sed voluptatem quas
      omnis culpa, et odit.Lorem ipsum dolor sit amet consectetur <span
        class="font-black text-lime-600">React</span
      > elit. Tenetur vero esse non molestias eos <span class="font-black text-lime-600"
        >React</span
      >, inventore atque cupiditate. Sed voluptatem quas omnis culpa, et odit.
    </p>
  </div>
</Section>
