---
import Section from "./Section.astro";
---

<Section>
  <div class="content mt-8 max-w-none text-base text-slate-950">
    <slot />
  </div>
</Section>

<style is:global>
  .content pre {
    background-color: #cdc8ff0d;
    border-radius: 0.5rem;
    font-size: 0.9rem;
  }
  .content code {
    overflow-x: auto;
  }
</style>
