---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  head: {
    title: string;
    description: string;
  };
}

const {
  head: { title, description },
} = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="flex min-h-screen flex-col bg-slate-50 text-slate-950">
    <Header />
    <div class="flex-1">
      <slot />
    </div>
    <Footer />
  </body>
</html>
